<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <randomcats>
            <general>
                <enable>1</enable>
                <api_url>http://randomcatapi.orbalab.com/</api_url>
                <api_url_key>5up3rc0nf1d3n714llp455w0rdf0rc47s</api_url_key>
            </general>
        </randomcats>
    </default>
</config>